<div class="row" ng-if="isLoggedin()">
	<div class="col-sm-3">
		<div class="card">
			<a href="#!/invoice_configuration/iot" class="link-unstyled">
				<div class="image">
					<img src="/src/images/nav_images/iot.jpg" alt="Avatar" class="img img-responsive full-width vertical-center">
				</div>
				<h4><b>IOT</b></h4>
				<p>Configure IOT</p>
			</a>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="card">
			<a href="#!/invoice_configuration/fuel_rates" class="link-unstyled">
				<div class="image">
					<img src="/src/images/nav_images/fuel.jpg" alt="Avatar" class="img img-responsive full-width vertical-center">
				</div>
				<h4><b>Fuel Rates</b></h4>
				<p>Configure Fuel Rates</p>
			</a>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="card">
			<a href="#!/invoice_configuration/carriers" class="link-unstyled">
				<div class="image">
					<img src="/src/images/nav_images/carriers.jpg" alt="Avatar" class="img img-responsive full-width vertical-center">
				</div>
				<h4><b>Carriers</b></h4>
				<p>Configure Carriers</p>
			</a>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="card">
			<a href="#!/invoice_configuration/operational_area" class="link-unstyled">
				<div class="image">
					<img src="/src/images/nav_images/us_map.png" alt="Avatar" class="img img-responsive full-width vertical-center">
				</div>
				<h4><b>Operational Area</b></h4>
				<p>Configure Operational Areas</p>
			</a>
		</div>
	</div>
</div>
<div class="row" >
	<div class="col-sm-3">
		<div class="card">
			<a href="#!/invoice_configuration/accessorial_cost" class="link-unstyled">
				<div class="image">
					<img src="/src/images/nav_images/invoice.jpg" alt="Avatar" class="img img-responsive full-width vertical-center">
				</div>
				<h4><b>Accessorial Costs</b></h4>
				<p>Configure Accessorial Costs</p>
			</a>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="card">
			<a href="#!/invoice_configuration/fsc" class="link-unstyled">
				<div class="image">
					<img src="/src/images/nav_images/fuel.jpg" alt="Avatar" class="img img-responsive full-width vertical-center">
				</div>
				<h4><b>Silverback FSC</b></h4>
				<p>Configure Fuel Surcharge</p>
			</a>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="card">
			<a href="#!/invoice_configuration/benchmark_fsc" class="link-unstyled">
				<div class="image">
					<img src="/src/images/nav_images/fuel.jpg" alt="Avatar" class="img img-responsive full-width vertical-center">
				</div>
				<h4><b>Fedex FSC</b></h4>
				<p>Configure FSC Benchmarks</p>
			</a>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="card">
			<a href="#!/invoice_configuration/state_region" class="link-unstyled">
				<div class="image">
					<img src="/src/images/nav_images/us_map.png" alt="Avatar" class="img img-responsive full-width vertical-center">
				</div>
				<h4><b>States and Regions</b></h4>
				<p>Configure States and Regions</p>
			</a>
		</div>
	</div>
</div>