.sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}

.tableCentered{
	font-size: small;
	text-align: center;
}

.container-fluid{
	padding-right: 35px;
	padding-left: 35px;
}

/* Invoice Table Styles*/
.table{
	padding: 5px;
}
.oldCharge{
	background-color: lightblue;
}

.newCharge {
	background-color: lightyellow;
}

.savings {
	background-color: lightgreen;
}

.bottemborder{
	border-bottom: 2px solid black;
}

.totals{
	font-weight: bold;
	border-bottom: 5px double black;
}

.underTotals{
	font-weight: bold;
}

.leftborder{
	border-left: 2px solid black; 
}


.navbar {
	border-radius: 0;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.btn-push {
	margin-top: 28px;
}

.no_match {
  color: darkred;
  background-color: lightsalmon;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.match {
  color: darkgreen;
  background-color: lawngreen;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.image{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.image img{
    position:absolute;
}
