<div class="row">
	<h2> Invoice: {{specificInvoice[0].invoice_number}} <span ng-if="specificInvoice[0].accelerated_service"> - Accelerated </span></h2>
	<a ui-sref="form-invoice({invoiceID:{{params.invoiceID}}})" > Edit </a>
	<div class="table-responsive row">
		<div class="col-sm-6">
			<table class="table">
				<tr>
					<th> Sender </th>
				</tr>
				<tr>
					<td>{{specificInvoice[0].sender_name}}</td>
				</tr>
				<tr>
					<td>{{specificInvoice[0].sender_address_1}}</td>
				</tr>
				<tr>
					<td>{{specificInvoice[0].sender_city}}, {{specificInvoice[0].sender_state}} {{specificInvoice[0].sender_zip}} <span ng-show="specificInvoice[0].sender_zip_4">-{{specificInvoice[0].sender_zip_4}} </span> </td>
				</tr>
				<tr>
					<td>{{specificInvoice[0].sender_country}} </td>
				</tr>
			</table>
		</div>
		<div class="col-sm-6">
			<table class="table">
				<tr>
					<th> Receiver </th>
				</tr>
				<tr>
					<td> {{specificInvoice[0].receiver_name}} </td>
				</tr>
				<tr>
					<td> {{specificInvoice[0].receiver_address_1}} </td>
				</tr>
				<tr>
					<td>{{specificInvoice[0].receiver_city}}, {{specificInvoice[0].receiver_state}} {{specificInvoice[0].receiver_zip}}<span ng-show="specificInvoice[0].receiver_zip_4">-{{specificInvoice[0].receiver_zip_4}}</span> </td>
				</tr>
				<tr>
					<td {{specificInvoice[0].receiver_country}} </td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h4> <b>Carrier Name:</b> {{specificInvoice[0].carrier_name}}</h4>
		</div>
		<div class="col-md-4">
			<h4> <b>AMC:</b> {{specificInvoice[0].absolute_min_charge}}</h4>
		</div>
		<div class="col-md-4">
			<h4> <b>Carrier Discount:</b> %{{specificInvoice[0].carrier_discount}}</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h4> <b>Gross Charge:</b> {{specificInvoice[0].gross_charge | currency}}</h4>
		</div>
		<div class="col-md-4">
			<h4> <b>Rated Charge:</b> {{specificInvoice[0].rated_sum | currency}}</h4>
		</div>
		<div class="col-md-4">
			<h4> <b>Total Rated Charge:</b> {{specificInvoice[0].rated_total_charge | currency}}</h4>
		</div>
	</div>
		<div class="row">
		<div class="col-md-4">
			<h4> <b>Deficit:</b> {{specificInvoice[0].deficit | currency}}</h4>
		</div>
		<div class="col-md-4">
			<h4> <b>Deficit Rate:</b> {{specificInvoice[0].deficit_rate | currency}}</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h4> <b>Delivery Type:</b> {{specificInvoice[0].delivery_type}}</h4>
		</div>
		<div class="col-md-4">
			<h4> <b>Transportation Type:</b> {{specificInvoice[0].transportation_mode}} </h4>
		</div>
		<div class="col-md-4">
			<h4> <b>Package Type:</b> {{specificInvoice[0].package_type}} </h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h4> <b>Ship Date:</b> {{specificInvoice[0].ship_date| date:'yyyy-MM-dd'}}</h4>
		</div>
		<div class="col-md-4">
			<h4> <b>Delivery Date:</b> {{specificInvoice[0].delivery_date| date:'yyyy-MM-dd'}}</h4>
		</div>
		<div class="col-md-4">
			<h4> <b>Process Date:</b> {{specificInvoice[0].process_date | date:'yyyy-MM-dd'}} </h4>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-4">
			<h4> <b>Fuel Surcharge Date:</b> {{specificInvoice[0].fuel_date | date:'yyyy-MM-dd'}}</h4>
		</div>
		<div class="col-md-4">
			<h4> <b>Fuel Surcharge:</b> ${{specificInvoice[0].fuel_rate}}</h4>
		</div>
	</div>
	<h3>Items Shipped</h3>
	<h4> <b>Billed Weight:</b> {{specificInvoice[0].billed_weight}} </h4>
	<table class="table table-striped">
		<tr>
			<th>Class</th>
			<th>Weight</th>
			<th>Rate</th>
			<th>Charge</th>
		</tr>
		<tr ng-repeat="invoice in specificInvoice">
			<td>{{invoice.classification}}</td>
			<td>{{invoice.weight}}</td>
			<td>{{invoice.rate}}</td>
			<td>{{invoice.charge}}</td>
		</tr>
	</table>
	<h3>Associated Charges</h3>
	<h4> <b>Total Associated Cost:</b> {{specificInvoice[0].total_associated_costs | currency}} </h4>
	<h4> <b>Total Benchmark Cost:</b> {{specificInvoice[0].total_benchmark | currency}} </h4>
	<table class="table table-striped">
		<tr>
			<th>Actual Cost</th>
			<th>Benchmark Cost</th>
			<th>Cost Code</th>
		</tr>
		<tr ng-repeat="charge in associatedCosts">
			<td>{{charge.actual_cost | currency}}</td>
			<td>{{charge.benchmark_cost | currency}}</td>
			<td>{{charge.cost_code}}</td>
		</tr>
	</table>
	
	<button type="btn" class="btn" ng-click="deleteInvoice(specificInvoice[0].invoice_id)"> Delete Invoice </button>
</div>