<div class="row" data-ng-init="approvedUser();">
	<p><a href="#!/invoice_configuration"> Back to Invoice Configuration </a></p>
	<table class="table table-striped">
		<tr>
			<th> Starting Rate </th>
			<th> Ending Rate </th>
			<th> LTL Fuel Surcharge Percent</th>
			<th> <span ng-if="approved"> Save </span> </th>
			<th ng-if="approved"> Delete </th>
		</tr>
		<tr ng-if="approved">
			<td> <input class="form-control" type="number" step=".0005" ng-model="newFSC.start_rate" placeholder="Starting Rate"></td>
			<td> <input class="form-control" type="number" step=".0005" ng-model="newFSC.end_rate" placeholder="Ending Rate"> </td>
			<td> <input class="form-control" type="number" step=".0005" ng-model="newFSC.fuel_surcharge" placeholder="Fuel Surcharge"> </td>
			<td> <input class="form-control" type="button" ng-click="submitFSC(newFSC)" value="Save"></td>
			<td> </td>
		</tr>
		<tr ng-repeat="fsc in fscs | orderBy: 'start_rate'">
			<td>
				<span ng-if="!edit">$<span ng-bind-html="fsc.start_rate"> </span></span>
				<input class="form-control" ng-if="edit" type="number" step=".0005" ng-model="fsc.start_rate" placeholder="Starting Rate">
			</td>
			<td>
				<span ng-if="!edit">$<span ng-bind-html="fsc.end_rate"> </span></span>
				<input class="form-control" ng-if="edit" type="number" step=".0005" ng-model="fsc.end_rate" placeholder="Ending Rate">
			</td>
			<td>
				<span ng-if="!edit" ng-bind-html="fsc.fuel_surcharge_percent"> </span>
				<input class="form-control" ng-if="edit" type="number" step=".0005" ng-model="fsc.fuel_surcharge" placeholder="Fuel Surcharge">
			</td>
			<td><a href="" ng-click="edit = !edit"><i ng-if="approved" class="fa fa-pencil-square-o" aria-hidden="true" ></i></a> </td>
			<td ng-if="approved">
				<span ng-if="!edit"><a href="" ng-click="deleteFSC(fsc.fuel_surcharge_id)"><i class="fa fa-trash" aria-hidden="true" ></i></a></span>
				<span ng-if="edit"> <button ng-click="submitFSC(fsc)" > Save Rate </button> </span>
			</td>
		</tr>
	</table>
</div>