<div class="row">
	<div class=" col-sm-4">
		<p ng-class="{true: 'match', false: 'no_match'}[requirements]"> Passwords must have the following: </p>
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		<ul>
			<li ng-class="{true: 'match', false: 'no_match'}[passLength]"> 14 Characters </li>
			<li ng-class="{true: 'match', false:'no_match'}[upperCase]"> Capital Letter </li>
			<li ng-class="{true: 'match', false:'no_match'}[lowerCase]"> Lower Case Letter </li>
		</ul>
	</div>
	<div class="col-sm-4">
		<ul>
			<li ng-class="{true: 'match', false:'no_match'}[number]"> Number </li>
			<li ng-class="{true: 'match', false:'no_match'}[special]"> Symbol </li>
			<li ng-class="{true: 'match', false:'no_match'}[passMatch]"> Passwords Match </li>
		</ul>
	</div>
</div>
<div class="row text-center">
	<div class="col-sm-4 col-sm-offset-4">
		<h3> Enter New Password </h3>
		<input type="password" ng-model="newPassword.enter" ng-change="formChange(newPassword)" placeholder="Enter New Password" class="form-control">
		<h3> Confirm Password </h3>
		<input type="password" ng-model="newPassword.check" ng-change="formChange(newPassword)" placeholder="Confirm New Password" class="form-control"> <br>
		<button class="btn" type="button" ng-click="submitPassword(newPassword)" >Submit</button>
		<div id="message">
		</div>
	</div>
</div>
<div class="row" id="password_Error" ng-model="userError"> </div>